html {
  font-family: Georgia, serif;
  color: #fff;
}

.text {
  background-color: #97a49b;
}

@media only screen and (min-width: 60em) {

  .banner {
    max-height: 500px;
    position: relative;
  }

  .text {
    position: absolute;
    bottom: 0;
  }
}
