html {
  font-family: Georgia, serif;
  color: #fff;
}

img {
  max-height: 500px;
}

@media only screen and (min-width: 60em) {

  img {
    position: absolute;
  }
  .text {
    position: relative;
    bottom: 15em;
  }
}
